<div id="filter-tax-switch-container">

    <!-- Category Section -->
    <div class="category-slider-container">
        <div class="category-container" id="slider">

            <a href="/filter?category=Amazing%20Views">
                <div class="category">
                    <i class="fa-solid fa-mountain-sun"></i>
                    <small>Amazing Views</small>
                </div>
            </a>

            <a href="/filter?category=Trending">
                <div class="category">
                    <i class="fa-solid fa-fire"></i>
                    <small>Trending</small>
                </div>
            </a>

            <a href="/filter?category=Bed%20%26%20Breakfasts">
                <div class="category">
                    <i class="fa-solid fa-mug-hot"></i>
                    <small>Bed & Breakfasts</small>
                </div>
            </a>

            <a href="/filter?category=Arctic">
                <div class="category">
                    <i class="fa-regular fa-snowflake"></i>
                    <small>Arctic</small>
                </div>
            </a>

            <a href="/filter?category=Camping">
                <div class="category">
                    <i class="fa-solid fa-campground"></i>
                    <small>Camping</small>
                </div>
            </a>

            <a href="/filter?category=Amazing%20Pools">
                <div class="category">
                    <i class="fa-solid fa-person-swimming"></i>
                    <small>Amazing Pools</small>
                </div>
            </a>

            <a href="/filter?category=Castles">
                <div class="category">
                    <i class="fa-brands fa-fort-awesome"></i>
                    <small>Castles</small>
                </div>
            </a>

            <a href="/filter?category=Farms">
                <div class="category">
                    <i class="fa-solid fa-tractor"></i>
                    <small>Farms</small>
                </div>
            </a>

            <a href="/filter?category=Rooms">
                <div class="category">
                    <i class="fa-solid fa-person-shelter"></i>
                    <small>Rooms</small>
                </div>
            </a>

            <a href="/filter?category=Treehouse">
                <div class="category">
                    <i class="fa-solid fa-tree"></i>
                    <small>Tree House</small>
                </div>
            </a>

            <a href="/filter?category=Countryside">
                <div class="category">
                    <i class="fa-solid fa-mountain"></i>
                    <small>Countryside</small>
                </div>
            </a>

            <a href="/filter?category=Lakefront">
                <div class="category">
                    <i class="fa-solid fa-house-flood-water"></i>
                    <small>Lakefront</small>
                </div>
            </a>

            <a href="/filter?category=Top%20of%20the%20World">
                <div class="category">
                    <i class="fa-solid fa-mountain-city"></i>
                    <small>Top of the World</small>
                </div>
            </a>

            <a href="/filter?category=Top%20Cities">
                <div class="category">
                    <i class="fa-solid fa-tree-city"></i>
                    <small>Top Cities</small>
                </div>
            </a>

            <a href="/filter?category=Beach">
                <div class="category">
                    <i class="fa-solid fa-umbrella-beach"></i>
                    <small>Beach</small>
                </div>
            </a>

            <a href="/filter?category=Lake">
                <div class="category">
                    <i class="fa-solid fa-water"></i>
                    <small>Lake</small>
                </div>
            </a>
        </div>
    </div>

    <!-- Tax Switch Section -->
    <div class="tax-toggle-container">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="texSwitchToggle()">
            <label class="form-check-label" for="flexSwitchCheckDefault">Total before taxes</label>
        </div>
    </div>
</div>